body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

input, button {
    padding: 5px;
    margin: 10px;
}

input[type='submit'] {
    background-color: pink;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: palevioletred;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}